workflows/utilities/util_job_scoring.json
{
  "name": "\ud83d\udd27 Utility: Job Scoring",
  "nodes": [
    {
      "parameters": {},
      "id": "js-0001",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [0, 300]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst job = input.job;\nconst ctx = input.ctx;\nconst profile = ctx.results?.career_goals || {};\nconst skills = ctx.results?.resume_profile?.skills_matrix || [];\n\n// 1. Build prompt\nconst prompt = `You are an AI Matchmaker.\n\nCandidate Role: ${profile.inferred_roles?.[0]}\nCandidate Level: ${profile.experience_level}\nCandidate Skills: ${skills.map(s => s.normalized).join(', ')}\n\nJob Title: ${job.title}\nJob Desc: ${job.description || 'Not provided'}`;\n\nreturn [{\n  json: {\n    job,\n    prompt,\n    model: $env.MODEL_JOB_SCORING || 'anthropic/claude-haiku-3'\n  }\n}];"
      },
      "id": "js-0002",
      "name": "Prepare Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [200, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.OPENROUTER_BASE_URL }}/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.OPENROUTER_API_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "model", "value": "={{ $json.model }}" },
            { "name": "temperature", "value": "0" },
            { "name": "response_format", "value": "{\"type\":\"json_object\"}" }
          ]
        },
        "options": {
          "body": "={\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are an AI Matchmaker. Return strictly JSON with 'match_score' (0-100) and 'match_explanation'.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": {{ JSON.stringify($json.prompt) }}\n    }\n  ]\n}"
        }
      },
      "id": "js-0003",
      "name": "LLM: Score Job",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [400, 300],
      "retryOnFail": true,
      "maxTries": 2,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const req = $('Prepare Prompt').item.json;\nconst llmRes = $input.first().json;\n\nlet score = 50;\nlet explanation = \"Fallback score due to LLM error\";\n\nif (llmRes.choices && llmRes.choices.length > 0) {\n  try {\n    const parsed = JSON.parse(llmRes.choices[0].message.content);\n    score = parsed.match_score || 50;\n    explanation = parsed.match_explanation || \"No explanation provided.\";\n  } catch (e) {}\n}\n\nreq.job.enrichment = req.job.enrichment || {};\nreq.job.enrichment.match_score = score;\nreq.job.enrichment.match_explanation = explanation;\nreq.job.match_score = score; // for DB ease\n\nreturn [{ json: req.job }];"
      },
      "id": "js-0004",
      "name": "Merge Score",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [600, 300]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [[{ "node": "Prepare Prompt", "type": "main", "index": 0 }]]
    },
    "Prepare Prompt": {
      "main": [[{ "node": "LLM: Score Job", "type": "main", "index": 0 }]]
    },
    "LLM: Score Job": {
      "main": [[{ "node": "Merge Score", "type": "main", "index": 0 }]]
    }
  },
  "active": true,
  "settings": { "executionOrder": "v1" },
  "versionId": "util-job-scoring-v1",
  "id": "util-job-scoring",
  "tags": [{ "name": "utility" }, { "name": "scoring" }]
}
